*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.car_list{
    display: flex;
    align-items: center;
    background-color: aqua;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid gray;
}
.nuqta{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
}
.car_list span{
    font-weight: 600;
}