*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}
.userlist{
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
      
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        margin-top: 50px;
}